<% if @playlists %>
  <% @playlists.each do |playlist| %>
    <li><%= link_to playlist.name, "/users/#{playlist.user.id}/playlists/#{playlist.id}" %></li>
  <% end %>
<% else %>
  <h1>You don't have any playlists yet.</h1>
<% end %>