<h2><%= @playlist.name %></h2>

<% if @items %>
  <% @items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
<% end %>

<%= link_to "New item", "/users/#{@playlist.user.id}/playlists/#{@playlist.id}/items/new" %>